{% block context %}
{% load static %}
<link rel="stylesheet" href="{% static '/miniquiz/css/home.css' %}">
<link rel="stylesheet" >
<div class="playQuiz">
  <div class="container ">
    {% for category in categories %}
        <div class="card" onclick="document.location='quiz/{{category.uid}}'">
        <div class="card-header">
          <img src="http://127.0.0.1:8000/media/{{category.categoryImage}}" alt="rover" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">{{category}}</span>
          <h4>
            {{category.description}}
          </h4>
    
          <div class="user">
          <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
          <div class="user-info">
            <h5>Alexa</h5>
            <small>2022-01-22</small>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock context %}