{% block context %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="{% static  '/miniquiz/css/userdetail.css' %}">

</head> 
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
<body>
	<div class="container">
		
		<div id="task-container">
			<div class="contentWriter">

				<div class="Writer_Profile">
					<div class="writerimage">
						<img src="{{image}}" >
					</div>
					<div class="follower">
						<div class="btnfollower">
							<div class="username">{{name}}</div>
							<div class="btn">
						
								<form action="" method="post">
									{% csrf_token %}
									<input type="hidden" name="user" value="{{name}}" readonly>
									<input type="hidden" name="follower" value="{{user.username}}" readonly>
									
									{%if follow_button_value == "follow" %}
									<input type="hidden" name="value" value="follow" readonly>
									<button type="submit">follow</button>
									{% else %}
									<input type="hidden" name="value" value="unfollow" readonly>
									<button type="submit">Unfollow</button>
									{% endif %}
								</form>
								
							</div>
						</div>
						
						<div class="posts">
							<div class="totalpost">{{categoryCount}} Post</div>
							<div class="totalpost">{{following}} following</div>

							<div class="totalFollowers">{{follower}} Folowers</div>
						</div>
					</div>
				</div>
				

			</div>
			<hr>
			<div class="categoryDetail">
				<div class="image">

				</div>
				<div class="text">
					<div class="categoryName">
						Politics
					</div>
					<div class="categoryDescription">
						<p> </p>
					</div>
					<div class="quizruled">
						<ul class="rules">
							<li>Only team entries are eligible, and team shall consist of three persons</li>
							<li>The decision of the quiz-master will be final and will not be subjected to any change.</li>
							<li>The participants shall not be allowed to use mobile or other electronic instruments.</li>
							<li>The questions shall be in the form of multiple choice, True / False statement, Specificanswer question etc.</li>	
							<li>Audience/Supporters shall not give any hints or clues to the competitors.</li>
							<li>Replacement of any participant of a team is not allowed after registration</li>
						</ul>
						
					</div>
					<div class="button">
						<button onclick="window.location.href='{{next_btn}}'">Start</button>
					</div>
					<div class="updated_date">
						2022-20-10
					</div>
					<div class="updated_date">
						10 Questions 
					</div>
				</div>
			</div>
			
		</div>

	</div>
    


</body>
</html>
<script src="{% static '/miniquiz/js/script.js' %}"></script>
{% endblock context %}
