{% extends './base.html' %}
{% load static %} 
{% block adminbase %}

<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Users</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="table-data">
      <div class="todo">
     {% if user.is_authenticated %}
      <div class="bg_modal" id="myForm">
          
          <div class="modal_container">
              <i class="cross fa fa-times" onclick="closeForm()" aria-hidden="true" style="color:red;font-size: 20px;"></i>
              <form action="" method="POST" id="myForms">
                  {% csrf_token %}
                  
                  <div class="head">
                    <h3>Create Categories</h3>
                </div>
                  <hr>
                  {{form.categoryName}}
                  <br>
                  {{form.description}}
                  <br>
                  {{form.categoryImage}}
  
                  <br>
      
                  <div style="padding-top:20px">
                    <button class="btn btn-success" type="submit">Create</button>
                  </div>
                </form>
          </div>
        
          
      </div>
      {% endif%}
          
      </div>
  
  
      <div class="todo">
          <div class="head">
              <h3>Categories</h3>
          </div>
          <div class="box">
            {% for i in categories %}
           


            <button class="btn btn-success" onclick="admindelfunction('{{i.uid}}')" style="width:auto">{{i}}</button>
           
       
      
          
          {% endfor %}

          </div>
          


          
      </div>
  </div>
    










    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>My Question</h3>
                <i class='bx bx-search' ></i>
                <i class='bx bx-filter' ></i>
            </div>
            
            

            <div class="col-sm-12 col-md-12 ">

            
              
              <form method="post" >
                {% csrf_token %}
                
                <label for="cars">Choose a Categories: </label>

                <select name="id" id="uuid">
                  {% for i in categories %}
                  <option value="{{i.uid}}">{{i}}</option>
                  {% endfor %}
                </select>

                <div class="row col-lg-12 col-sm-12 col-md-12 m-0 py-3">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Question" name="question">

                </div>
                <div class="row m-0 ">
                    <div class="input-group  col-lg-3 col-sm-12 col-md-12 ">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input" name="answer1" id="CheckId1"  onchange="oneCheckedBox(this.id)">
                          </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with checkbox" name="choice1" required>
                      </div>

                      <div class="input-group col-lg-3 col-sm-12 col-md-12">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input" id="CheckId2" name="answer2"   onchange="oneCheckedBox(this.id)">
                          </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with checkbox" name="choice2" required>
                      </div>

                      <div class="input-group col-lg-3 col-sm-12 col-md-12">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input" id="CheckId3" name="answer3"   onchange="oneCheckedBox(this.id)">
                          </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with checkbox" name="choice3" required>
                      </div>

                      <div class="input-group col-lg-3 col-sm-12 col-md-12">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input" id="CheckId4" name="answer4"  onchange="oneCheckedBox(this.id)">
                          </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with checkbox" name="choice4" required>
                      </div>
                      <div class="buttonss col-lg-3 col-sm-12 col-md-12 py-3">
                        <button type="submit" class="btn btn-info btn-md btn-block">Create Now</button>
                          
                      </div>
                      
                </div>
                
              </form>
          
              </div>


              <br>
            <br>

            <br>

              <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Option1</th>

                        <th>Option2</th>
                        <th >Option3</th>
                        <th>Option4</th>
                        <th>Updated Date</th>
                        <th>Category Name</th>

                    </tr>
                </thead>
                <tbody>
        
                  {% for i in questionDetail %}
                    <tr>
                        <td>
                          <!-- 'question_answer','question' -->
                            <p>{{i.question}}</p>
                        </td>
                        <td>{{i.question_answer}}</td>
                        <td><span class="status completed">Mt.k2</span</td>
                        <td>Mt. Manaslu</td>
                        <td>Mt Annapurna</td>
                        <td>2022-01-23</td>
                        <td>Nature	</td>
                    </tr>
                  {% endfor %}



                        
                  
                    
                </tbody>
            </table>
        </div>

</main>

{% endblock adminbase %}
