{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>Responsive Login and Registration Form</title>
  <link rel="stylesheet" href="{% static '/accounts/css/style.css' %}">

</head>
<body>
  
  <section>
    <div class="container">
      <div class="user signinBox">
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/4467144/pexels-photo-4467144.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
        </div>
        <div class="formBox">
		 <form class="form-signin" method="post">{% csrf_token %}
            <h2>Sign In</h2>
            <input type="email" name="email" class="inp" placeholder="Email" required autofocus>
			<input type="password" name="password" class="inp" placeholder="Password" required>
            <input type="submit" value="login" name="type" class="button">
			

	
		
            <p class="signup">Don't have an account? <a href="#">Sign Up.</a></p>
          </form>
        </div>
      </div>   
      
      <div class="user signupBox">
        <div class="formBox">
		  <form class="form-signin" method="POST">{% csrf_token %}
            <h2>Create an account</h2>
            <input type="email" name="email" placeholder="Email" class="inp" required >   
            <input type="text" name="username" placeholder="Username" class="inp" required> 
            <input type="password" name="password1" placeholder="Create Password" class="inp" required>
            <input type="password" name="password2" placeholder="Confirm Password" class="inp" required>
            <input type="submit" value="Signup" name="type" class="button">

			{% for field in registration_form %}
				<h1>hi</h1>
			{% endfor %}

		






            <p class="signup">Already have an account? <a href="#">Sign In.</a></p>
          </form>
        </div>
        
        <div class="imgBox">
          <img src="{% static '/accounts/image/puzzle.jpg' %}" alt="gooo">
        </div>
      </div> 
    </div>
  </section>
  <script src="{% static '/accounts/js/btn.js' %}"></script>
  
</body>
</html>
{% endblock content %}
